$base: #131312;
$darkash: #21211f;
$fineash: #48464155;
$base-brown: #702b19;
$midnight: #09172d;

//Primary
$primary: #90f1c4;
$primary_data: #25dd87;

//Secondary
$secondary: #f8ba42;

//warning
$warning: $base-brown;

//Accents
$danger: #d82340;

//Neutral
$info: $fineash;

// Base
$body-bg: $base;
$body-color: $primary;
$light: $darkash;

// layer
$base_layer: #13131277;